In [1]:
import pandas as pd
import numpy as np

In [72]:
from scipy.stats.mstats import winsorize

s = pd.Series([92, 19, 101, 58, 1010, 91, 26, 78, 10, 13, -40, 101, 86, 85, 15, 89, 89, 28, -5, 41])
#df = pd.DataFrame(data=s, columns=["data"])
df = pd.DataFrame()
print(len(df.columns))
#df["data"] = s
df[len(df.columns)] = s

#df["winsorized"] = winsorize(s, limits=[0.05, 0.05]) 
df[len(df.columns)] = winsorize(s, limits=[0.01, 0.01])
df[len(df.columns)] = winsorize(s, limits=[0.05, 0.05])
df[len(df.columns)] = winsorize(s, limits=[0.1, 0.1])
df[len(df.columns)] = winsorize(s, limits=[0.2, 0.2])
df[len(df.columns)] = winsorize(s, limits=[0.3, 0.3])
df[len(df.columns)] = winsorize(s, limits=[0.4, 0.4])

#df["diff"] = np.subtract(xx, s)
#df[len(df.columns)] = np.subtract(xx, s)
df[len(df.columns)] = df[1] - df[0]
df[len(df.columns)] = df[2] - df[0]
df[len(df.columns)] = df[3] - df[0]
df[len(df.columns)] = df[4] - df[0]
df[len(df.columns)] = df[5] - df[0]
df
#pd.DataFrame(np.subtract(xx, s))

0

      0     1    2    3   4   5   6   7    8    9    10   11
0     92    92   92   92  91  89  85   0    0    0   -1   -3
1     19    19   19   19  19  26  41   0    0    0    0    7
2    101   101  101  101  91  89  85   0    0    0  -10  -12
3     58    58   58   58  58  58  58   0    0    0    0    0
4   1010  1010  101  101  91  89  85   0 -909 -909 -919 -921
5     91    91   91   91  91  89  85   0    0    0    0   -2
6     26    26   26   26  26  26  41   0    0    0    0    0
7     78    78   78   78  78  78  78   0    0    0    0    0
8     10    10   10   10  15  26  41   0    0    0    5   16
9     13    13   13   13  15  26  41   0    0    0    2   13
10   -40   -40   -5   10  15  26  41   0   35   50   55   66
11   101   101  101  101  91  89  85   0    0    0  -10  -12
12    86    86   86   86  86  86  85   0    0    0    0    0
13    85    85   85   85  85  85  85   0    0    0    0    0
14    15    15   15   15  15  26  41   0    0    0    0   11
15    89    89   89   89  89  89  85   0    0    0    0    0
16    89    89   89   89  89  89  85   0    0    0    0    0
17    28    28   28   28  28  28  41   0    0    0    0    0
18    -5    -5   -5   10  15  26  41   0    0   15   20   31
19    41    41   41   41  41  41  41   0    0    0    0    0

In [30]:
s = pd.Series([3, 1, 2, 4, np.nan])
s.value_counts(normalize=True)

3.0    0.25
1.0    0.25
2.0    0.25
4.0    0.25
Name: proportion, dtype: float64

In [50]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
pd.concat([s1, s2]).reset_index()

   index  0
0      0  a
1      1  b
2      0  c
3      1  d

In [49]:
df1 = pd.concat([s1, s2]).reset_index()
pd.concat([df1, df1, df1], axis = 0)
#pd.concat([df1 for i in range(100)], axis = 0).shape

   index  0
0      0  a
1      1  b
2      0  c
3      1  d
0      0  a
1      1  b
2      0  c
3      1  d
0      0  a
1      1  b
2      0  c
3      1  d